{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}


<div class="col-md-12">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		{% for item in self %}
		   <div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ forloop.counter }}" aria-expanded="true">
							{{ item.title }}
						</a>
					</h4>
				</div>
				<div id="collapse-{{ forloop.counter }}" class="panel-collapse collapse {% if forloop.first %}in{% endif %}" aria-expanded="true">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								{{ item.content|safe }}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>