{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}


<div class="col-md-12">
	{% for item in self %}
		<div class="{{ item.type_field }}" style="background-image:url('{{ item.background_image.file.url }}'); height: {{ item.block_height }}px;">
			<div class="container content-sm">
				<div class="row">
					{% if item.columns == '2' %}
						<div class="col-md-6 text-right" style="padding-right: 5px; color: {{ item.text_color }} !important;">
			       			{{ item.text_left }}
			       		</div>
						<div class="col-md-6" style="padding-left: 5px; color: {{ item.text_color }} !important;">
			       			{{ item.text_right }}
			       		</div>
		       		{% else %}
		       			<div class="col-md-12 text-center" style="padding-right: 5px; color: {{ item.text_color }} !important;">
			       			{{ item.text_left }}
			       			{{ item.text_right }}
			       		</div>
		       		{% endif %}
	       		</div>
	       </div>
	   </div>
	{% endfor %}
</div>