{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}


{% for item in self %}
	<a href="{% if item.link %}{{ item.link.url }}"{% else %}{{ item.ext_link }}" target="_blank"{% endif %} class="btn {{ item.width }}" style="margin: 0 15px; background-color: {{ item.button_color }}; color: {{ item.color }}; font-size: {{ item.text_size }}px;">{% if item.icon %}<i class="fa fa-{{ item.icon }}" style="color: {{ item.color }};font-size: {{ item.icon_size }}px;"></i>{% endif %}{{ item.text }}</a>
{% endfor %}