{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

<div class="col-md-12">
	{% for item in self %}
        <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://www.youtube.com/embed/{{ item.video_id }}" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
	{% endfor %}
</div>