{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

<section class="">
    <div class="container">
        <div class="row">
            {% for item in self %}
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="https://www.youtube.com/embed/{{ item.video_id }}" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
